html { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define the keyframes for the shake animation */
@keyframes shake {
  0% {
    transform: translateX(0); /* Start from the current position */
  }
  25% {
    transform: translateX(10px); /* Move right */
  }
  50% {
    transform: translateX(-10px); /* Move left */
  }
  75% {
    transform: translateX(10px); /* Move right */
  }
  100% {
    transform: translateX(0); /* Return to the original position */
  }
}

body {
  background-color: #393E46;
  min-height: 100vh;
  margin: 0; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.titleBox {
  width: 100%;
}

.playersBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.btnBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 3rem 0;
  width: 100%;
}

footer {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  width: 100%;
}

/* Apply the animation to the image element */
.shakeImage {
  animation: shake 0.5s ease 3;
}