html { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #393E46;
  min-height: 100vh;
  margin: 0; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.titleBox {
  width: 100%;
}

.playersBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.btnBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 3rem 0;
  width: 100%;
}

footer {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  width: 100%;
}
