body {
  background-color: #393E46;
}

.titleBox {
  padding: 1.5rem;
  width: 100%;
}

.playersBox {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
